@page
@model dotnet_assignment.Pages.LoginModel
<header class="navbar"></header>

<main class="main-content">
    <div class="form-card login-card">
<h2 class="title">Login</h2>

<form method="post">
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <p class="text-danger">@Model.ErrorMessage</p>
    }
    <div class="form-group">
        <label>Email</label>
        <input type="email" asp-for="Email"  placeholder="Enter your email"required />
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" asp-for="Password"  placeholder="Enter your password"required />
    </div>
   
    <button type="submit">Login</button>
</form>
</div>
</main>
 

<div class="bottom-line"></div>


<style>
    body{
        font-family: 'Segoe UI', sans-serif;
        background:linear-gradient(120deg, #e0eafc, #cfdef3);
        margin:0;
        display:flex;
        flex-direction:column;
        min-height:100vh;
    }
    .nav-brand{
        font-weight:bold;
        font-size:18px;
    }
    nav a{
        color:white;
        margin-left:20px;
        text-decoration:none;
        font-weight:500;
    }
    nav a:hover{
        text-decoration:underline;
    }

    .main-content{
        flex:1;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    h2.title{
        margin-bottom:25px;
        font-weight:600;
        font-size:24px;
        color:#333333;
        text-align:center;
    }
    label{
        font-weight:600;
        color:#4b5563;
        display: block;
        margin-bottom:5px;

    }

    input{
        width:100%;
        padding:8px;
        margin-bottom:5px;
        border-radius: 6px;
        border: 1px solid #d1d5db;
        font-size:14px;
        transition:border-color 0.3s;
    }
      input:focus{
          border-color:#007Bff;
          outline:none;
      }


    button{
        width:100%;
        padding:12px;
        background:#007Bff;
        color:white;
        border:none;
        border-radius:6px;
        font-size:16px;
        cursor:pointer;
        transition : background-color 0.3s;
        margin-top:10px;
    }

    button:hover{
        background:#0056b3;
    }
    .text-danger{
        color:red;
        font-size:14px;
        margin-bottom: 10px;
    }

    .footer{
        text-align:center;
        padding:30px;
        background-color:#f3f4f6;
        font-size:14px;
        color:#555;
        margin-top:auto;
    }
    .form-card{
        width:400px;
        background: #ffffff;
        padding:35px;
        border-radius:12px;
        box-shadow: 0 12px 28px rgba(0,0,0,0.15);
        border-top: 5px solid #007Bff;

    }

    .form-group{
        margin-bottom:15px;
    }
</style>